.ajax-file-upload-container {
    margin: auto;
    width: 80%;
}

.ajax-upload-dragdrop {

    border:2px dotted #ddd;
    /*color: #DADCE3;*/
    color: #bbb;
    text-align:left;
    vertical-align:middle;
    padding: 15px 10px;
    border-radius: 4px;
    //  margin: @line-height-computed;
    @include center-block();

    .ajax-file-upload {
        @extend .btn, .btn-primary-mg;
        height: 34px;
//        width: 81px;
        margin: 0px 20px 0px 0px; // For input.btn
        box-shadow: none;
    }
}


.ajax-file-upload-statusbar {
    width: 100%;
    height: 130px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
    @include center-block();


    .ajax-file-upload-filename {
        display: inline-block;
        width: calc(100% - 70px);
        height: auto;
        margin: 0px 5px 5px 10px;
        font-size: .9em;
        text-align: left;
    }

    .extrahtml {
        display: inline-block;
        margin: 2px 12px;
        width: 130px;
        height: 88px;
        float: left;

        div.loading {
            width: 100%;
            height: 100%;
            background-image: url(../media/preload.gif);
            background-position: -42px -38px;
            background-color: white;
            border: 1px solid #ddd;
        }
    }

    .ajax-file-upload-progress {
        @extend .progress;
        position: relative;
        float: left;
        top: 11px;
        width: calc(100% - 164px);
    }

    .ajax-file-upload-bar {
        @extend .progress-bar;
        background-color: #555 !important;
    }

    .ajax-file-upload-percent {
        position: absolute;
        display: inline-block;
        top: 3px;
        left: 48%;
    }

    .ajax-file-upload {
        @extend .btn, .btn-xs;
        display: inline-block;
        position: relative;
        float: left;
        margin-left: 2px;
        box-shadow: none;
        color: #fff;
    }

    .ajax-file-upload-red {
        @extend .btn-danger, .ajax-file-upload;
    }

    .ajax-file-upload-green {
        @extend .btn-success, .ajax-file-upload;
    }


}


@media screen and (min-width: 400px) {

    .ajax-file-upload-statusbar {
        height: 160px;
    }

    .extrahtml {
        height: 120px !important;
        width: 180px !important;
    }

    .ajax-file-upload-progress {
        top: 37px !important;
        width: calc(100% - 226px) !important;
        max-width: 250px
    }

    .ajax-file-upload-red, .ajax-file-upload-green {
        top: 36px;
    }
}


