$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "file-upload";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
    position: relative;
    min-height: 100%;
}

/* Space out content a bit */
body {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 70px;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container {
    /*height: 100%;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*******************************************************************************************************/

@import "mixins/custom-mixins";

$marginLarge: 50px;

.center-aligned {
    text-align: center;
}

.margin-l {
    @include margin($marginLarge);
}

.logo {
    display: inline-block;
    width: 200px;
    height: 132px;
    background-image: url(../media/moregrasp-logo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sizable {
    @extend .col-lg-12, .col-md-12, .col-sm-12;
    /*@extend .col-lg-offset-1, .col-lg-10, .col-md-offset-1, .col-md-10, .col-sm-offset-0, .col-sm-12;*/
}


.input-panel {
/*    $margin-bottom: 10px;
    margin-bottom: $margin-bottom;;*/
    text-align: left;

    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row {
        margin-top: 5px;
    }

    p {
        text-align: center;
    }

    p.explanation {
        text-align: left;
        font-size: 0.9em;
    }

    label {
        &.default {
            @extend .col-lg-2, .col-md-2, .col-sm-2, .col-xs-12;
            padding-top: 8px;
            padding-right: 5px;

            &.sm {
                @extend .col-md-1, .col-sm-1, .col-xs-12;
            }
        }

        &.question {
            @extend  .col-lg-offset-2, .col-lg-6, .col-md-offset-1, .col-md-6, .col-sm-offset-0, .col-sm-6, .col-xs-offset-0, .col-xs-10;
            text-align: left;
            margin-top: 5px;
        }
    }

    .form-control {
        @extend  .col-lg-4, .col-md-4, .col-sm-4, .col-xs-12;

        &.sm {
            @extend .col-md-2, .col-sm-2, .col-xs-12;
        }
    }

    .toggle-on,
    .toggle-off {
        text-align: left;
    }

}

.button-area {
    position: relative;
    bottom: -10px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
